@import url("https://db.onlinewebfonts.com/c/831e1041c97169ac1d4dc3d161b235cc?family=Burbank+Big+Condensed");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply overflow-hidden;
}

body {
  @apply bg-gradient-to-tl from-orange-500 via-orange-600 to-yellow-500 h-screen overflow-auto;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
span,
p,
a {
  @apply font-fortnite;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
